<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grp61 - Supply Chain DAPP</title>
    <link rel="SHORTCUT ICON" href="images/fibble.png" type="image/x-icon" />
    <link rel="ICON" href="images/fibble.png" type="image/ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdbmin.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<% if (role !==undefined) { %>


    <body class="violetgradient">
        <%- include('partials/navbar') %>
            <center>
                <div class="customalert">
                    <div class="alertcontent">
                        <div id="alertText"> &nbsp </div>
                        <img id="qrious">
                        <div id="bottomText" style="margin-top: 10px; margin-bottom: 15px;"> &nbsp </div>
                        <button id="closebutton" class="formbtn"> OK </button>
                    </div>
                </div>
            </center>
            <div>
                <center>
                    <div class="centered">
                        <!-- Search Form -->
                        <form role="form" autocomplete="off" action="/checkproducts" method="POST">
                            <input type="text" id="searchText" name="productCode" class="searchBox"
                                placeholder="Enter Product Code" required
                                value="<%= (typeof result !== 'undefined' && result) ? result.id : '' %>">
                            <label class=qrcode-text-btn style="width:4%;display:none;">
                                <input type=file accept="image/*" id="selectedFile" style="display:none"
                                    capture=environment onchange="openQRCamera(this);" tabindex=-1>
                            </label>
                            <button type="submit" id="searchButton" class="searchBtn"><i
                                    class="fa fa-search"></i></button>
                        </form>

                        <button class="qrbutton" onclick="document.getElementById('selectedFile').click();">
                            <i class='fa fa-qrcode'></i> Scan QR / Paste Image
                        </button>

                        <br><br>

                        <!-- Result Display Logic -->
                        <% if (typeof result !=='undefined' && result) { %>
                            <div class="cardstyle"
                                style="display: block; background: <%= result.isReal ? '#d4edda' : '#f8d7da' %>; color: <%= result.isReal ? '#155724' : '#721c24' %>;">
                                <h3 style="color: inherit !important;">
                                    <%= result.status %>
                                </h3>
                                <hr>
                                <div style="text-align: left; padding: 10px;">
                                    <p><strong>Code:</strong>
                                        <%= result.id %>
                                    </p>
                                    <p><strong>Name:</strong>
                                        <%= result.name %>
                                    </p>
                                    <p><strong>Description:</strong>
                                        <%= result.description %>
                                    </p>
                                    <% if(result.isReal) { %>
                                        <p><strong>Manufactured:</strong>
                                            <%= result.manufactureDate %>
                                        </p>
                                        <p><strong>Owner:</strong>
                                            <%= result.owner %>
                                        </p>
                                        <% } %>
                                </div>
                            </div>
                            <% } else { %>
                                <!-- Hidden default card for client-side web3 only -->
                                <p id="database" class="cardstyle" style="display:none;">
                                </p>
                                <% } %>

                    </div>
                </center>
            </div>

            <div class='box'>
                <div class='wave -one'></div>
                <div class='wave -two'></div>
                <div class='wave -three'></div>
            </div>

            <% } else { %>
                <script>window.location.href = "/";</script>
                <% } %>

                    <!-- JQuery -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                    <script src="js/popper.min.js"></script>
                    <script src="js/bootstrap.min.js"></script>
                    <script src="js/mdb.min.js"></script>

                    <!-- Web3 Injection -->
                    <!-- Only load Web3 if NOT showing a server result (Hybrid support) -->
                    <% if (typeof result==='undefined' || !result) { %>
                        <script src="web3.min.js"></script>
                        <script src="app.js"></script>
                        <script>
                            // Standard Web3 Logic for Local/MetaMask
                            if (typeof web3 !== 'undefined') {
                                web3 = new Web3(new Web3.providers.HttpProvider('HTTP://127.0.0.1:7545'));
                            }
                        </script>
                        <% } %>

                            <!-- QR Code Reader -->
                            <script
                                src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>

                            <script>
                                function isInputNumber(evt) {
                                    var ch = String.fromCharCode(evt.which);
                                    if (!(/[0-9]/.test(ch))) {
                                        evt.preventDefault();
                                    }
                                }

                                $("#closebutton").on("click", function () {
                                    $(".customalert").hide("fast", "linear");
                                });

                                function openQRCamera(node) {
                                    var reader = new FileReader();
                                    reader.onload = function () {
                                        node.value = "";
                                        qrcode.callback = function (res) {
                                            if (res instanceof Error) {
                                                alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
                                            } else {
                                                // node.parentNode.previousElementSibling.value = res;
                                                document.getElementById('searchText').value = res;
                                                document.getElementById('searchButton').click();
                                            }
                                        };
                                        qrcode.decode(reader.result);
                                    };
                                    reader.readAsDataURL(node.files[0]);
                                }

                                // Copy-Paste Support for QR Images
                                window.addEventListener('paste', e => {
                                    const fileInput = document.getElementById('selectedFile');
                                    const items = (e.clipboardData || e.originalEvent.clipboardData).items;
                                    for (let index in items) {
                                        const item = items[index];
                                        if (item.kind === 'file') {
                                            const blob = item.getAsFile();
                                            const reader = new FileReader();
                                            reader.onload = function (event) {
                                                qrcode.callback = function (res) {
                                                    if (res instanceof Error) {
                                                        alert("No QR code found in pasted image.");
                                                    } else {
                                                        document.getElementById('searchText').value = res;
                                                        document.getElementById('searchButton').click();
                                                    }
                                                }
                                                qrcode.decode(event.target.result);
                                            };
                                            reader.readAsDataURL(blob);
                                        }
                                    }
                                });


                                function showAlert(message) {
                                    $("#alertText").html(message);
                                    $("#qrious").hide();
                                    $("#bottomText").hide();
                                    $(".customalert").show("fast", "linear");
                                }

                                $("#aboutbtn").on("click", function () {
                                    showAlert("P2P Ownership Verification against Fake Products ");
                                });

                            </script>
    </body>

</html>